{% extends "layout.html" %}
{% block body %}
<form action="index"><button class="button-back">Back</button></form>

<div class="grid-container">
  <div class="grid-dsm grid-pad">DSM Name</div>
  <div class="grid-pad">Last Edited</div>
  <div class="grid-addcustomdsm"><form action="custom_dsm"><button class="button grid-pad">Create New Custom DSM</button></form></div>  
  
  {% for custom in custom %}
    <div class="grid-dsm"><form action="custom_dsm" method="POST"><button class="button-dsm"  id='cdsm' name='cdsm' value='{{ custom.id }}'>{{ custom.dsm_name }}</button></form></div>
      <div class="grid-pad">{{ custom.last_edit }}</div>
  {% else %}
    <div class="grid-dsm grid-pad">No entries found</div>
    <div class="grid-pad">-</div>
  {% endfor %}
  
</div>
{% endblock %}